{% extends 'layout.html' %}

{% block body %}


<div class="jumbotron text-center" style="background-color: white">
    <h1>Welcome To The Best Torrent Site Ever Created</h1>
    <p class="lead">"Kiedyś za stronę z Torrentami dałbym sobie rękę uciąć... i wciąż mam obie"</p>
</div>

<h2 style="text-align: right">TOP 10 SEARCHED TORRENTS</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Magnet</th>
            <th>Seeders</th>
            <th>Searched</th>
        </tr>
        </thead>

    {% for index in myresultfin %}
        <tr>
            <td>{{index['historytorname']}}</td>
            <td><a href={{index['historymagnet']}}"><i class="material-icons">get_app</i></a></td>
            <td>{{index['historyseeds']}}</td>
            <td>{{index['searchcount']}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}